<suite name="Final tests" verbose="1" >

  <listeners>
    <listener class-name="core.MyTestListener"/>
  </listeners>
<!--  <test name="Check languages">-->
<!--    <classes>-->
<!--      <class name="CheckLanguagesTest"/>-->
<!--    </classes>-->
<!--  </test>-->
<!--  <test name="End to end checkout tests">-->
<!--    <classes>-->
<!--      <class name="CheckoutEndToEndTest"/>-->
<!--    </classes>-->
<!--  </test>-->
<!--  <test name="Check popular products">-->
<!--    <classes>-->
<!--      <class name="CheckPopularProductsTest"/>-->
<!--    </classes>-->
<!--  </test>-->
<!--  <test name="Price drop check">-->
<!--    <classes>-->
<!--      <class name="CheckPricesTest"/>-->
<!--    </classes>-->
<!--  </test>-->
<!--  <test name="Sorting check">-->
<!--    <classes>-->
<!--      <class name="CheckSorting"/>-->
<!--    </classes>-->
<!--  </test>-->
<!--  <test name="Check submenu">-->
<!--    <classes>-->
<!--      <class name="CheckSubmenuCategoriesTest"/>-->
<!--    </classes>-->
<!--  </test>-->
<!--  <test name="NewsLetter test ">-->
<!--    <classes>-->
<!--      <class name="NewsLetterTest"/>-->
<!--    </classes>-->
<!--  </test>-->
  <test name="Registration Tests">
    <classes>
      <class name="RegistrationWithValidDataTest"/>
      <class name="RegistrationWithInvalidDataTest"/>-->
    </classes>
  </test>
</suite>
